img {
    width: 700px;
}

button {
    width:500px;
    background-color: blueviolet;

}
div.menu{
    display:block; 
    width: 100%;
    background-color: rgb(167, 181, 184);
    
}

div.menu a {
    font-size:x-large;
    color:aliceblue;
    text-decoration: none;
}